
::-webkit-scrollbar {
    height: 2px;
    display: none;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.bundle {
    display: flex;
    flex-direction: column;
}

.bundle_size {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70%;
    min-width: 380px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: rgb(209, 202, 202);
    border-radius: 10px;
}

.bundle_size_option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: auto;
    padding-right: auto;
}

.percent {
    font-size: 15px;
    font-weight: 700;
    font-family: "Archivo", sans-serif;
}

.items {
    font-size: 15px;
    font-weight: 500;
    font-family: "Archivo", sans-serif;
}
.scroll-container{
    display:flex;
    justify-content: center;
    max-width:70%;
    margin:2% 0;
    margin-left:auto;
    margin-right:auto;
    min-width: 380px;
    
}
.product_container {
  
    display: flex;
    justify-content:flex-start; 
    overflow-x: auto; 
    white-space: nowrap; 
    position: relative;
}

.product {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    
}

.image {
    width: 80px;
    height: 80px;
}

.product-name {
    font-size: 15px;
    font-weight: 500;
    font-family: "Archivo", sans-serif;
}

.cart {
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    margin-top: 30px;
    width:100%;
    min-width: 390px;
    background-color:rgb(246, 213, 190);
}

.cost {
    font-size: 20px;
    font-weight: 700;
    font-family: "Archivo", sans-serif;
}

.add_to_cart {
    padding: 10px 5%;
    background-color: rgb(91, 69, 65);
    opacity: 0.5;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    border-style: hidden;
}

.container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.line {
    width: 40px;
    height: 2.5px;
    background-color: #c8c3c3;
}
